@model dynamic

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Bowling Score</title>
  <link href="/Styles/BowlingScore.css" rel="stylesheet" />
</head>
<body>
  <div id="applicationHost">
    <div id="total-score">0</div>

    <ol class="frames">
      <li class="frame">
        <div class="rolls">
          <div class="roll"><input type="text" /></div>
          <div class="roll"><input type="text" /></div>
        </div>
      </li>
      <li class="frame">
        <div class="rolls">
          <div class="roll"><input type="text" /></div>
          <div class="roll"><input type="text" /></div>
        </div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
      <li class="frame">
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
        <div class="roll"><input type="text" /></div>
      </li>
    </ol>
  </div>

  <script src="/Scripts/jquery-2.1.1.min.js"></script>
  <script src="/Scripts/BowlingScore.js"></script>
</body>
</html>