@model dynamic

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Bowling Score</title>
  <link href="/Styles/BowlingScore.css" rel="stylesheet" />
</head>
<body>
  <div class="total-score">123</div>

  <ul class="frames">
    <li class="frame">
      <span class="frame-count">1</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">2</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">3</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">4</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">5</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">6</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">7</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">8</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">9</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
    </li>
    <li class="frame">
      <span class="frame-count">10</span>
      <div class="roll roll-1"></div>
      <div class="roll roll-2"></div>
      <div class="roll roll-extra"></div>
    </li>
  </ul>

  <script src="/Scripts/jquery-2.1.1.min.js"></script>
  <script src="/Scripts/BowlingScore.js"></script>
</body>
</html>