@model dynamic

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Bowling Score</title>
  <link href="/Styles/BowlingScore.css" rel="stylesheet" />
</head>
  <body>
    <div id="applicationHost">
      <div class="total-score">123</div>

      <ol class="frames">
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
        <li class="frame">
          <div class="rolls">
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
            <div class="roll"><input type="text" value="" /></div>
          </div>
        </li>
      </ol>
    </div>

    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/BowlingScore.js"></script>
  </body>
</html>